<div>
  
<label  for="all">All</label>
<input [(ngModel)]="all" type="checkbox" name="all" id="all" (change)="onChanheAll()">
</div>

<div>
  
  <label  for="check1 ">check1 </label>
<input [(ngModel)]="check1" type="checkbox" name="check1 " id="check1 " (change)="handleCheck()">
</div>

<div>
  
  <label  for="check2">check2</label>
<input [(ngModel)]="check2"  type="checkbox" name="check2" id="check2" (change)="handleCheck()">
</div>

<div>
  
  <label  for="check3">check3</label>
<input [(ngModel)]="check3" type="checkbox" name="check3" id="check3" (change)="handleCheck()">
</div>
